.container
{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
#para1
{
    height: 20px;
    width: 300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}
#b1
{
    height: 30px;
    width: 50px ;
    margin: 30px;
}
#b2
{
   height: 30px;
    width: 50px; 
}
#b3{
    height: 30px;
    width: 50px;
    display: block;
    margin: 30px;
}